<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h4>Conversaciones</h4>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li (click)="selectChat(chat)" (dblclick)="deleteChat($event, chat)" *ngFor="let chat of chats"
                class="list-group-item d-flex justify-content-between align-items-center">
              {{ chat.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--CHAT-->
    <div class="col-md-9 chat-container">
      <div class="buttons-top">
        <div class="button-top-first">
          <button (click)="createNewChat()" class="btn btn-success" type="submit">Crear chat</button>
        </div>
        <div class="button-top-second">
          <button (click)="changeUserName()" class="btn btn-primary" type="submit">Cambiar nombre</button>
        </div>
        <div style="margin-left: 10px">
          <h3>Hola, {{username}}</h3>
        </div>

        <!--  <div class="dropdown">
            <button *ngIf="users" style="margin-left: 40px" class="btn btn-secondary dropdown-toggle" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Lista de usuarios conectados
            </button>
            <div class="dropdown-menu" *ngFor="let user of users" aria-labelledby="dropdownMenuButton">
              <p>{{user.name}}</p>
            </div>
          </div>-->


      </div>
      <section *ngIf="chats.length !== 0; else noChats" style="background-color: #eee;">
        <div *ngIf="selectedChat" class="container py-5">
          <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-6">

              <div class="card" id="chat2">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                  <h5 class="mb-0">{{selectedChat.name}}</h5>
                  <button class="btn btn-primary btn-sm" data-mdb-ripple-color="dark" type="button">Let's Chat
                    App
                  </button>
                </div>

                <div #scrollMe *ngIf="chats" class="card-body"
                     data-mdb-perfect-scrollbar="true" style="position: relative; height: 500px; overflow-y: auto">
                  <div class="d-flex flex-row justify-content-start">
                  </div>

                  <!-- MENSAJES USUARIO -->
                  <div #messages *ngFor="let message of selectedChat.messages"
                       class="d-flex flex-row justify-content-end mb-4">
                    <div>
                      <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">{{ message }}
                      <p
                        class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">{{getCurrentTime | date: 'shortTime'}}</p>
                    </div>
                    <img alt="avatar 1"
                         src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp" style="width: 45px; height: 100%;">
                  </div>
                </div>
                <!-- INPUT TEXT -->
                <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3 input-footer">
                  <img alt="avatar 1"
                       src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                       style="width: 45px; height: 100%;">
                  <form (ngSubmit)="sendMessage(messageInput.value)">
                    <input #messageInput class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Type message"
                           type="text">
                  </form>


                  <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
                  <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
                  <a class="ms-3" href="#!"><i class="fas fa-paper-plane"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <ng-template #noChats>
        <h2>No hay chats</h2>
      </ng-template>
    </div>
  </div>
</div>
